#shoulder {

	height: 250px;
	padding-top: 0;

	.gift {
		position: absolute;
		top: -140px;
		left: 194px;
		width: 208px;
		height: 180px;
		background: url(/theme/pitch-gift.png) no-repeat 0 0;
	}

	dl {

		position: relative;
		top: 70px;

		dt, dd {
			position: absolute;
		}

		dt {

			display: block;
			top: 0;
			width: 300px;
			height: 39px;
			background-repeat: no-repeat;
			background-position: 3px 0;

			&.simple {
				background-image: url(/theme/pitch-h2-simple.png);
				&, & + dd {
					left: 0;
				}
			}

			&.fast {
				background-image: url(/theme/pitch-h2-fast.png);
				&, & + dd {
					left: 300px;
				}
			}

			&.easy {
				background-image: url(/theme/pitch-h2-easy.png);
				&, & + dd {
					left: 600px;
				}
			}

			span {
				display: none;
			}

		}

		dd {
			top: 55px;
			width: 278px;
			padding-left: 25px;
		}

	}

}

#body {

	> .bind {
		padding-top: 50px;
		background-image: url(/theme/body-arrow.png);
		background-repeat: no-repeat;
		background-position: 0 0;
	}

	#gift_event_gift_name {
		width: 400px;
	}

	label[for="gift_event_gift_price"],
	label[htmlFor="gift_event_gift_price"] {
		margin-left: 30px;
	}

	#gift_event_gift_price {
		clear: none;
		width: 140px;
	}

	#gift_event_gift_price_icon {
		display: block;
		clear: both;
		float: left;
		width: 20px;
		height: 31px;
		margin-top: 5px;
		margin-right: 10px;
		background-image: url(/theme/icon-dollar.png);
		background-repeat: no-repeat;
		background-position: 0 0;
	}

	#gift_event_continue,
	#admin_submit {
		width: 126px;
		background-image: url(/theme/button-continue.png);
	}

	#gift_event_submit {
		width: 98px;
		background-image: url(/theme/button-finish.png);
	}

	div.more {
		width: 100%;
		padding-top: 50px;
	}

	#gift_event_gift_admin_email,
	#gift_event_gift_link,
	#admin_email {
		width: 450px;
	}

}