/*
 * Common mixins and classes
 */

@mixin clear {
	display: block;
	clear: both;
	height: 1px;								/* add 1px */
	margin-bottom: -1px;						/* undo it */
}

	.clear {
		@include clear;
	}

.hidden {
	display: none;
}

/*
 * XHTML defaults
 */

* {
	margin: 0;
	padding: 0;
	border: 0;
}

html, body {
	height: 100%;
	background: #fff;
	color: #2e2b2b;
}

	html {
		overflow-y: scroll;								// always show vertical scrollbar
		border-top: 20px solid #2e2b2b;
	}

	body, h1, h2, h3, button, input, select, textarea {
		font: normal normal normal 16px/24px "lucida sans", tahoma, arial, helvetica, sans-serif;
		letter-spacing: normal;
	}

ul, ol {
	list-style: none;
}

a {

	text-decoration: none;

	&:link, &:visited, &:active {
		border-bottom: 1px dotted #2e2b2b;
		color: #2e2b2b;
		font-weight: bold;
		&.implicit {
			border-bottom: 0;
		}
	}

	&:hover, &:focus {
		border-bottom-style: solid;
		border-bottom-color: #000;
		color: #000;
		&.implicit {
			border-bottom: 0;
		}
	}

}

@mixin a_custom($normal, $hover) {

	a {

		&:link, &:visited, &:active {
			border-bottom-color: $normal;
			color: $normal;
		}

		&:hover, &:focus {
			border-bottom-color: $hover;
			color: $hover;
		}

	}

}

em, strong {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}

	em {
		font-style: italic;
	}

	strong {
		color: #c82717;
		font-weight: bold;
	}

hr {
	clear: both;
	margin-top: 30px;
	margin-bottom: 30px;
	border: 2px dashed #dbdbdb;
}

@mixin formelement {
	padding: 6px 7px;
	border: 3px solid #c3c3c3;
	border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: #eee;
}

	@mixin formelementactive {
		background-color: #fff;
	}

	@mixin formbutton {
		width: auto;
		height: 46px;
		padding-left: 20px;
		padding-right: 20px;
		cursor: pointer;
		border: 0;
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: 0 0;
		color: transparent;
	}

		@mixin formbuttonhover {
			background-position: 0 -46px;
		}

form {

	@include clear;
	margin-top: -15px;

	+ .clear {
		margin-bottom: 30px;
	}

	fieldset {}

	p {
		float: left;
	}

	label {

		float: left;
		clear: both;
		margin-top: 15px;
		margin-bottom: 10px;

		+ label {
			clear: none;
			margin-left: 15px;
			margin-bottom: 0;
			color: #9e9d9d;
			line-height: 28px;
			font-size: 12px;
		}

	}

	input,
	select,
	textarea {
		@include formelement;
		float: left;
		clear: both;
	}

		input:focus, input.focus,
		select:focus, select.focus,
		textarea:focus, textarea.focus {
			@include formelementactive;
		}

		input.error,
		select.error,
		textarea.error {
			border-color: #c82717;
		}

		input {
			width: 300px;
		}

			input[type='checkbox'] {
				width: auto;
				float: left;
			}

			input[type='file'] {
				color: #777;
			}

			button,
			input[type='button'],
			input[type='submit'],
			input[type='reset'] {

				@include formbutton;
				&:hover {
					@include formbuttonhover;
				}

				&.inline {
					margin-top: 46px;
				}

			}

		select {}

		textarea {}

}

@mixin selection {
	background: #fff666;
}

	// redundancy: FF bug prevents selector combination
	::selection { @include selection; }
	::-moz-selection { @include selection; }

/*
 * Framework
 */

.bind {

	position: relative;
	width: 900px;
	height: 100%;
	margin: 0 auto;

}

.notice {

	padding: 15px 0 15px 30px;
	border-top: 4px solid #fff;
	background-color: #dbdbdb;
	white-space: nowrap;

	p {

		width: 900px;
		margin: 5px auto;
		padding-left: 22px;
		line-height: 20px;
		font-size: 16px;

		&.info,
		&.success,
		&.warning,
		&.error {
			background-repeat: no-repeat;
		}

			&.info {
				background-image: url(/theme/icon-info.png);
				background-position: 0 3px;
			}

			&.success {
				color: #3b8a25;
				background-image: url(/theme/icon-tick.png);
				background-position: 0 4px;
			}

			&.warning {
				color: #ff831f;
				background-image: url(/theme/icon-warning.png);
				background-position: 0 3px;
			}

			&.error {
				color: #c82717;
				background-image: url(/theme/icon-alert.png);
				background-position: 0 3px;
			}

	}

	.smallprint {
		color: #888;
		font-size: 12px;
	}

}

#head {

	position: relative;
	height: 362px;
	border-top: 4px solid #fff;
	border-bottom: 4px solid #fff;
	background: #fff url(/theme/head.png) repeat 0 0;

	h1 {

		position: absolute;
		top: 36px;
		left: 0;
		width: 317px;
		height: 175px;
		background: transparent url(/theme/logo.png) no-repeat 0 0;

		a {
			display: block;
			width: 317px;
			height: 175px;
			background: inherit;
		}

	}

	h2 {
		position: absolute;
		top: 107px;
		left: 417px;
		width: 377px;
		height: 56px;
		background: url(/theme/head-h2.png) no-repeat 0 0;
	}

	p {
		position: absolute;
		top: 184px;
		left: 419px;
		width: 435px;
		height: 82px;
		background: url(/theme/head-p.png) no-repeat 0 0;
	}

	h1 span,
	h2 span,
	p span {
		display: none;
	}

}

#body {

	border-top: 10px solid #c82717;

	p {
		margin: 0 25px 10px 25px;
	}

	h2 {

		margin: 0 25px 20px 25px;
		white-space: pre-wrap;
		font-family: Futura LT Condensed;
		font-size: 24px;
		text-transform: uppercase;
		&.subtitle {
			line-height: 24px;
			font-size: 16px;
		}

	}

	> .bind {
		padding-top: 30px;
	}

}

#foot {

	border-top: 10px solid #c3c3c3;
	color: #c3c3c3;
	background: #2e2b2b;
	line-height: 20px;
	font-size: 12px;
	text-align: right;

	@include a_custom(#c3c3c3, #fff);

	strong {
		color: inherit;
	}

	> .bind {
		padding: 25px;
	}

}