#shoulder h2 span {
  font-size: 18px; }
#shoulder #price {
  display: inline-block;
  float: right;
  height: 31px;
  padding: 7px 10px 0 33px;
  background-image: url(/theme/icon-dollar.png);
  background-repeat: no-repeat;
  background-position: 9px 4px;
  font-size: 28px;
  font-weight: bold; }

#body #progressbar {
  float: left;
  width: 150px;
  height: 40px;
  margin: 4px 20px 0 25px; }
#body table th.amount {
  width: 60px; }
#body #new_contribution {
  margin-top: 20px; }
#body #gift_event_gift_name {
  width: 400px; }
#body label[for="gift_event_gift_price"],
#body label[htmlFor="gift_event_gift_price"] {
  margin-left: 30px; }
#body #gift_event_gift_price,
#body #contribution_amount {
  clear: none;
  width: 140px; }
#body #gift_event_gift_price_icon,
#body #contribution_amount_icon {
  display: block;
  clear: both;
  float: left;
  width: 20px;
  height: 31px;
  margin-top: 5px;
  margin-right: 10px;
  background-image: url(/theme/icon-dollar.png);
  background-repeat: no-repeat;
  background-position: 0 0; }
#body #gift_event_continue {
  width: 126px;
  background-image: url(/theme/button-continue.png); }
#body #gift_event_submit {
  width: 107px;
  background-image: url(/theme/button-update.png); }
#body #gift_event_gift_admin_email,
#body #gift_event_gift_link,
#body #contribution_name,
#body #contribution_email {
  width: 450px; }
#body #contribution_submit {
  width: 90px;
  background-image: url(/theme/button-give.png); }
