#shoulder {
  height: 250px;
  padding-top: 0; }
  #shoulder .gift {
    position: absolute;
    top: -140px;
    left: 194px;
    width: 208px;
    height: 180px;
    background: url(/theme/pitch-gift.png) no-repeat 0 0; }
  #shoulder dl {
    position: relative;
    top: 70px; }
    #shoulder dl dt, #shoulder dl dd {
      position: absolute; }
    #shoulder dl dt {
      display: block;
      top: 0;
      width: 300px;
      height: 39px;
      background-repeat: no-repeat;
      background-position: 3px 0; }
      #shoulder dl dt.simple {
        background-image: url(/theme/pitch-h2-simple.png); }
        #shoulder dl dt.simple, #shoulder dl dt.simple + dd {
          left: 0; }
      #shoulder dl dt.fast {
        background-image: url(/theme/pitch-h2-fast.png); }
        #shoulder dl dt.fast, #shoulder dl dt.fast + dd {
          left: 300px; }
      #shoulder dl dt.easy {
        background-image: url(/theme/pitch-h2-easy.png); }
        #shoulder dl dt.easy, #shoulder dl dt.easy + dd {
          left: 600px; }
      #shoulder dl dt span {
        display: none; }
    #shoulder dl dd {
      top: 55px;
      width: 278px;
      padding-left: 25px; }

#body > .bind {
  padding-top: 50px;
  background-image: url(/theme/body-arrow.png);
  background-repeat: no-repeat;
  background-position: 0 0; }
#body #gift_event_gift_name {
  width: 400px; }
#body label[for="gift_event_gift_price"],
#body label[htmlFor="gift_event_gift_price"] {
  margin-left: 30px; }
#body #gift_event_gift_price {
  clear: none;
  width: 140px; }
#body #gift_event_gift_price_icon {
  display: block;
  clear: both;
  float: left;
  width: 20px;
  height: 31px;
  margin-top: 5px;
  margin-right: 10px;
  background-image: url(/theme/icon-dollar.png);
  background-repeat: no-repeat;
  background-position: 0 0; }
#body #gift_event_continue,
#body #admin_submit {
  width: 126px;
  background-image: url(/theme/button-continue.png); }
#body #gift_event_submit {
  width: 98px;
  background-image: url(/theme/button-finish.png); }
#body div.more {
  width: 100%;
  padding-top: 50px; }
#body #gift_event_gift_admin_email,
#body #gift_event_gift_link,
#body #admin_email {
  width: 450px; }
