/*
 * XHTML defaults
 */
* {
  margin: 0;
  padding: 0;
  border: 0; }

html, body {
  height: 100%;
  background: #fff;
  color: #2e2b2b; }

html {
  overflow-y: scroll;
  /* always show vertical scrollbar */
  border-top: 20px solid #2e2b2b; }

body, h1, h2, h3, button, input, select, textarea {
  font: normal normal normal 16px/24px "lucida sans", tahoma, arial, helvetica, sans-serif;
  letter-spacing: normal; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }
  a:link, a:visited, a:active {
    border-bottom: 1px dotted #2e2b2b;
    color: #2e2b2b;
    font-weight: bold; }
    a:link.implicit, a:visited.implicit, a:active.implicit {
      border-bottom: 0; }
  a:hover, a:focus {
    border-bottom-style: solid;
    border-bottom-color: #000;
    color: #000; }
    a:hover.implicit, a:focus.implicit {
      border-bottom: 0; }

em, strong {
  font-style: normal;
  font-variant: normal;
  font-weight: normal; }

em {
  font-style: italic; }

strong {
  color: #c82717;
  font-weight: bold; }

/* redundancy: FF bug prevents selector combination */
::selection {
  background: #fff666; }

::-moz-selection {
  background: #fff666; }

/*
 * Common mixins
 */
/*
 * Framework
 */
.bind {
  position: relative;
  width: 900px;
  height: 100%;
  margin: 0 auto; }

.notice {
  padding: 15px 0 15px 30px;
  border-top: 4px solid #fff;
  background-color: #dbdbdb;
  white-space: nowrap; }
  .notice p {
    width: 900px;
    margin: 5px auto;
    padding-left: 22px;
    line-height: 20px;
    font-size: 16px; }
    .notice p.info, .notice p.success, .notice p.warning, .notice p.error {
      background-repeat: no-repeat; }
    .notice p.info {
      background-image: url(/theme/icon-info.png);
      background-position: 0 3px; }
    .notice p.success {
      color: #3b8a25;
      background-image: url(/theme/icon-tick.png);
      background-position: 0 4px; }
    .notice p.warning {
      color: #ff831f;
      background-image: url(/theme/icon-warning.png);
      background-position: 0 3px; }
    .notice p.error {
      color: #c82717;
      background-image: url(/theme/icon-alert.png);
      background-position: 0 3px; }
  .notice .smallprint {
    color: #888;
    font-size: 12px; }

#head {
  position: relative;
  height: 362px;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  background: white url(/theme/head.png) repeat 0 0; }
  #head h1 {
    position: absolute;
    top: 36px;
    left: 0;
    width: 317px;
    height: 175px;
    background: transparent url(/theme/logo.png) no-repeat 0 0; }
    #head h1 a {
      display: block;
      width: 317px;
      height: 175px;
      background: inherit; }
  #head h2 {
    position: absolute;
    top: 107px;
    left: 417px;
    width: 377px;
    height: 56px;
    background: url(/theme/head-h2-home.png) no-repeat 0 0; }
  #head p {
    position: absolute;
    top: 184px;
    left: 419px;
    width: 435px;
    height: 82px;
    background: url(/theme/head-p-home.png) no-repeat 0 0; }
  #head h1 span,
  #head h2 span,
  #head p span {
    display: none; }

#body {
  border-top: 10px solid #c82717; }
  #body p {
    margin: 0 25px 10px 25px; }
  #body h2 {
    margin: 0 25px 20px 25px;
    white-space: pre-wrap;
    font-family: Futura LT Condensed;
    font-size: 24px;
    text-transform: uppercase; }
    #body h2.subtitle {
      line-height: 24px;
      font-size: 16px; }
  #body > .bind {
    padding-top: 30px; }

#foot {
  border-top: 10px solid #c3c3c3;
  color: #c3c3c3;
  background: #2e2b2b;
  line-height: 20px;
  font-size: 12px;
  text-align: right; }
  #foot a:link, #foot a:visited, #foot a:active {
    border-bottom-color: #c3c3c3;
    color: #c3c3c3; }
  #foot a:hover, #foot a:focus {
    border-bottom-color: white;
    color: white; }
  #foot strong {
    color: inherit; }
  #foot > .bind {
    padding: 25px; }
