<div id='forgot_urls'>
<h3>Lost your admin link?</h3>
<p>Tell us your email and we'll email you the links.</p>
<%= form_tag '/admin_recovery', :remote => true do %>
  <%= text_field_tag 'admin_email' %>
  <%= submit_tag "Submit" %>
<% end %>
</div>