<h2>Already planned a gift?</h2>
<p>
	You can track your group gift using the link that was emailed to you.<br />
	If you lost this email, we can always resend it.
</p>

<%= form_tag '/admin_recovery', :id => 'admin_recovery' do %>
	<p>
		<%= label_tag 'admin_email', 'What is your email address?' %> 
		<%= text_field_tag 'admin_email' %>
	</p>
	<p>
		<%= submit_tag 'Continue', :id => 'admin_submit', :class => 'inline' %>
	</p>
<% end %>
<div class="clear"></div>