<h2>Already planned a gift?</h2>
<p>Enter your email address and we will resend the link to manage your gift.</p>

<%= form_tag '/admin_recovery', :remote => true do %>
	<%= text_field_tag 'admin_email' %>
	<%= submit_tag 'Continue' %>
<% end %>