<h2>Already planned a gift?</h2>
<p class='admin_form_post'>Your admin links have been mailed to you.</p>
<p class='admin_form_pre'>Enter your email address and we will resend the link to manage your gift.</p>
<%= form_tag '/admin_recovery', :remote => true, :class=> 'admin_form_pre' do %>
	<%= text_field_tag 'admin_email', '', :class => 'admin_form_pre' %>
	<%= submit_tag 'Continue', :class => 'admin_form_pre' %>
<% end %>