<h1>Create a Gift Event</h1>
<%= form_for [:planner, @gift_event], :as => :gift_event, :url => {:action => :create}, :remote => true, :html => { :multipart => true  do |f| %>
  <%= render 'gift_event_form', :f => f %>
<% end %>