<%= render :partial => 'shared/event_view' %>

<p>Your links to share with others is:</p>
<%= link_to event_url(@gift_event.access_token), event_url(@gift_event.access_token) %>
<p>Your admin link is:</p>
<%= link_to planner_event_url(@gift_event.gift_admin_token), planner_event_url(@gift_event.gift_admin_token) %>
