<h2>Recent Contributions</h2>
<% if true || @gift_event.contributions.blank? %>
	<p>No one has given anything yet.</p>
	<p>
		Spread the word by emailing the link to this page:<br />
		<%= link_to @gift_event.gift_short_link, @gift_event.gift_short_link %>
	</p>
<% else %>
<% @gift_event.contributions.each do |contribution| %>
<p><%= number_to_currency(contribution.amount) %></p>
<% end %>
<% end %>
</div>