<h1>Welcome to Let's Give This</h1>
<p>We are the place to go when you are organizing a group gift for someone. Just
  setup a Gift here and send a link to your friends. No Login required even</p>

<%= link_to "Get Started", new_planner_event_url, :remote => true %>